body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Color Palette #1F2937 #F9FAF8 #E5E7EB #F9FAF8 #3882F6 #1F2937 #E5E7EB #E5E7EB */

header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 180px
}

.logo h1{
    color: #F9FAF8;
    margin: 0px;
}

nav {
    color: #F9FAF8;
    font-weight: 100;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 100;
}

nav ul li a {
    font-size: 1.3vw;
    color: #F9FAF8;
    text-decoration: none;
    padding: 1.4684287812041117vh 0.6vw;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
}
    
nav ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F9FAF8;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
    
nav ul li.active a:after,
nav ul li a:hover:after {
    transform: scaleX(0.3);
}
    
nav ul li a:focus:after,
nav ul li a:active:after {
    transform: scaleX(0.9);
}
    
nav ul li.active a:after {
    transform: scaleX(0.9);
}
    
.section1{
    margin-top: 70px;
    background-color: #1f2937;
    padding: 100px 180px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awesome-text {
    width: 448px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    justify-content: center;
    margin: 0;
    }

.awesome-text p {
    margin: 0;
}

.subtext {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    color: #E5E7EB;
}

.signup-button {
    background-color: #3882F6;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-button:hover {
    background-color: #2967D6;
    color: #fff;
}
.square-box {
    width: 420px;
    height: 210px;
    background-color: #6d747e;
}

.section2 {
    background: white;
    padding: 40px 180px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}
.row-item {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.blue-border {
    border: 4px solid #4783c9;
    border-radius: 8px;
    height: 135px;
    width: 135px;
}

.description {
    width: 141px;
    margin: 5px;
}

.section3 {
    background: #e5e7ea;
    padding: 100px 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 24px;
    color: #1F2937;
    margin: 0px;
}

.author {
    font-weight: bold;
    align-self: flex-end;
    margin: 0px;
}

.section4 {
    padding: 80px 180px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.blue-box {
    padding: 45px 80px;
    background-color: #3b82f6;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 9vw;
    align-items: center;
}

.signup-button2 {
    width: 100px;
    background-color: #3b82f6;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 5px 10px;
    color: #ffffff;
}

.signup-button2:hover {
    background-color: #1e4bb0;
    color: #ffffff; 
    border-color: #1e4bb0;
}

.call-text {
    font-weight: bold;
    margin: 0px;
}

.sub {
    font-size: 18px;
    font-weight: 100;
    margin: 0px;
}

footer {
    background: #1f2937;
    padding: 22px 180px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}